.logo {
  animation: logo-spin infinite 20s linear;
}

.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  top: calc(50vh - 150px / 2);
  transition: 0.85s $x-bezier-bounce;
}

.app {
  display: flex;
  position: relative;
  width: 200vw;

  &--content {
    background-color: $c-light;
    flex-basis: 0vw;
    transition: 0.75s $x-bezier-decel;
  }

  &--link {
    color: #61dafb;
  }
}
