.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: lighten($c-dark, 2.5%);

  [class^='content__'] {
    display: flex;
    color: $c-grey;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0 0 5rem 5vw;
    width: 85vw;

    @media screen and (orientation: portrait) {
      align-self: center;
      padding: 0 0 40%;
    }

    h1 {
      animation: 2.5s fade-in-on-load forwards ease-in-out 1s;
      font-size: calc(1.5rem + 1.5vw);
      font-weight: 100;
      margin-bottom: 0.5rem;

      @media screen and (orientation: portrait) {
        text-align: center;
      }

      @media screen and (max-width: 504px) {
        font-size: calc(4rem - 5vh);
      }

      .highlight {
        padding: 0 0.75rem 0 0.5rem;
        position: relative;
        background-color: rgba($c-react-blue, 0.5);
        color: $c-light;
        font-size: calc(2rem + 1.5vw);
        font-style: italic;
        margin-left: -0.25rem;

        @media screen and (orientation: landscape) {
          &:after {
            position: absolute;
            bottom: -1.5rem;
            color: $c-grey;
            content: 'next meetup is november 18';
            font-size: 1rem;
            font-style: normal;
            right: 0;
            width: 100%;

            @media screen and (max-width: 504px) {
              bottom: -2.5rem;
            }
          }
        }
      }
    }

    .small {
      font-size: 1rem;
    }
  }
}

.content {
  &__active {
    transform: translateX(0);
  }

  &__inactive {
    transform: translateX(85vw);
  }

  &--link {
    color: $c-grey;
    display: inline-block;
    margin-left: 0.33rem;
    padding: 0 0.4rem 0.25rem 0.25rem;
    text-decoration: none;
    transform: translateY(-0.425rem);
    font-style: italic;

    &:visited {
      color: $c-grey;
    }

    &:hover {
      animation: broken-hinge 1s forwards $x-bezier-decel;
      background-color: rgba(red, 0.25);
      color: $c-light;
    }

    z-index: 10;
  }
}
